.form__fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.form__button {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  height: 60px;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #2f80ed;
  margin-top: 15px;
  color: white;
  border: none;
  cursor: pointer;
}

.form__button:hover {
  background-color: #1c5edb;
  fill-opacity: 70%;
}
