body {
  font-family: "Noto Serif", "Times New Roman", serif;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.page-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.header {
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  background-image: url("../images/background_header.svg");
  background-color: #ffffff;
  background-size: cover;
}

.nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  top: 30px;
  left: 30px;
  right: 80px;
}

.nav__logo {
  width: 98px;
}

.nav__links {
  display: flex;
  margin-top: 8px;
  column-gap: 20px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  list-style-type: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: normal;
}

.header {
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-size: cover;
}

.header__content {
  max-width: 683px;
  font-size: 20px;
  font-family: "Noto Serif", serif;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
}

.header__title {
  font-size: 58px;
  line-height: 72px;
  font-weight: 500;
  margin-top: 183px;
  max-width: 709px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  letter-spacing: -1px;
  line-height: 72px;
  font-weight: 400;
  color: #2f80ed;
  font-style: italic;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  max-width: 646px;
  max-height: 568px;
  right: 5px;
  top: 124px;
}

.header__footer {
  display: flex;
  margin-top: auto;
  font-family: "Inter", Arial, sans-serif;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}

.header__paragraph {
  margin: 0;
  font-style: normal;
  color: #838383;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding: 100px 80px 215px 80px;
  box-sizing: border-box;
}

.recipes {
  display: flex;
  flex-direction: column;
  background-size: cover;
  color: white;
  background-image: url("../images/background_recipes.svg");
  background-color: #0a2750;
  background-size: cover;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 100px;
  padding-bottom: 215px;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 20px;
}

.recipes__iframe {
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipes__video-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  display: flex;
  flex-direction: column;
  background-size: cover;
  color: white;
  background-image: url("../images/background_reservation.svg");
  background-color: #d9e7ff;
  background-size: cover;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 100px;
  padding-bottom: 120px;
  row-gap: 80px;
}

.reservation__title {
  font-family: "Inter";
  font-style: normal;
  align-self: center;
  color: black;
  font-weight: 500;
  font-size: 44px;
  margin: 0;
}

.reservation__form {
  font-family: "Inter";
  font-style: normal;
  color: black;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 385px;
  width: 100%;
}

.reservation__form--fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.reservation__label {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.reservation__input {
  font-family: Inter;
  font-weight: normal;
  color: #838383;
  font-size: 20px;
  border-radius: 4px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  border: 1px solid #838383;
}

.reservation__button {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  height: 60px;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #2f80ed;
  color: white;
  border: none;
  cursor: pointer;
}

.reservation__button:hover {
  background-color: #1c5edb;
  fill-opacity: 70%;
}

.form__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: black;
  gap: 10px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 2px;
}

.form__checkbox-input {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background: transparent;
  position: relative;
  border: 1px solid #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__checkbox-input :checked {
  background-color: #2f80ed;
  border-color: #2f80ed;
  background-image: url("../images/check.svg");
}
